# ======================================
# Python
# ======================================

__pycache__/
*.py[cod]
*$py.class

# ======================================
# Entornos virtuales
# ======================================

venv/
.venv/
dl_env/

# ======================================
# Jupyter
# ======================================

.ipynb_checkpoints/

# ======================================
# macOS
# ======================================

.DS_Store

# ======================================
# Modelos entrenados
# ======================================

*.keras
*.h5
*.hdf5
*.ckpt

# ======================================
# TensorFlow
# ======================================

events.out.tfevents.*
checkpoint

# ======================================
# Cache
# ======================================

.pytest_cache/
.cache/

# ======================================
# Datos originales
# ======================================

**/data/raw/archive/

# ======================================
# Resultados temporales
# ======================================

*.log
*.tmp

# ======================================
# VSCode
# ======================================

.vscode/

# Modelos entrenados
*.pkl
*.joblib
*.keras
*.h5